body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: #202124;
  display: block;
  font-size: 22px;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  margin-bottom: 0;
}

small {
  font-size: smaller;
  font-family: "Courier New", Courier, monospace;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #70757a;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.wind {
  padding-top: 12px;
}

.wind li {
  font-size: 14px;
  line-height: 16px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app-frame {
  padding: 25px;

  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
  position: relative;
  top: -10px;
}

.weather-temperature strong {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}
.weather-temperature .units {
  position: relative;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  top: -28px;
}

.float-left {
  float: left;
}

#temperature {
  font-size: 54px;
}

.overview {
  margin-bottom: 20px;
}

.units a {
  text-decoration: none;
}

.weather-temperature .active {
  color: #202124;
  cursor: default;
}

#button {
  text-align: center;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #202124;
  font-size: 16px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
